body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;

}

.stopwatch {
    text-align: center;
	
}

#display {
    font-size: 2em;
    margin-bottom: 10px;
	background :orange; 
}

button {
    font-size: 1em;
    padding: 5px 10px;
    margin: 5px;
}
